In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [20]:
df_zones=pd.read_csv(r'D:\Ahmed\taxi_zone_lookup.csv')
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [21]:
pg_user ='root'
pg_password='root'
pg_host='localhost'
pg_port=5432
pg_db='ny_taxi'
engine=create_engine(f'postgresql://{pg_user}:{pg_password}@{pg_host}:{pg_port}/{pg_db}')

In [22]:
df_zones.to_sql(name='zones',con=engine,if_exists='replace')

265

In [16]:
df_greentrips=pd.read_parquet("D:\Ahmed\green_tripdata_2025-11.parquet")

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\asus\AppData\Local\Temp\ipykernel_30676\3795804847.py:1: SyntaxWarning: invalid escape sequence '\A'
  df_greentrips=pd.read_parquet("D:\Ahmed\green_tripdata_2025-11.parquet")

In [18]:
df_greentrips.to_sql(name='green_taxi_trips',con=engine,if_exists='replace')

912